// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
}

body {
    margin: 0;
    padding: 0;
    //background: url('table-2879213_1280.jpg');
    background: url('tomatoes-5356_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.body__container {
    margin: 0;
    padding-top: 70px;
    padding-bottom: 800px;
    background-color: rgba(255, 255, 255, 0.5);
}

.todo__item {
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.todo__item:hover {
    box-shadow: 0 2px 2px 0;
}

.todo__input {
    border-radius: 1rem;
}

.navbar__btn {
    background-color: green;
    border-color: green;
}

